.pm
*.db
*.ext
bin
build


.idea
.vscode

node_modules/
package-lock.json
package.json


*.db
*.ext
.env

# Added by goreleaser init:
dist/

# Dolt database files (added by bd init)
.dolt/

Task\ Details.txt
code.txt
