package components

templ Status(msg string) {
	<div id="status" hx-get="/status" hx-trigger="load, click, task-status-check from:body" hx-target="#status" hx-swap="outerHTML">
		<button type="button" class="btn btn-outline btn-sm" hx-get="/status/modal" hx-target="#modal-container" hx-swap="innerHTML">{ msg }</button>
	</div>
}
